# Hello and Welcome to the Configurator
# First up, you need to give petal a token
#
# Uncomment line 5 to use standard token Authentication
token: adiscordtokenforyou
# if this is your own token and not a bot account, set selfbot to true

# NOTE: selfbots are techincally against discord ToS so please use them only for testing purposes.
# I am not responsible for what you do with this
selfbot: false
# Uncomment lines 9 and 10 to use email/pass (This is not reccomended)
# email: your email
# pass: you password

# Next up Petal is going to need to know your ID.
owner: '0'

# For this option, you may (or may not) supply a list of server admin IDs.
# These are the people who will be able to use very dangerous commands.
server_admins:
- '0'

# For this option, you may (or may not) supply a list of maintainer IDs.
# These are the people who control the bot at the top level. Probably just yourself.
bot_maintainers:
- '0'

# ---BASIC PETAL CONFIGURATION--- #

# How often do you want the config to be updated automatically? (300 = 5 Minutes, 600 = 10, 3600 = 1 hour, 86400 = 1 day)
# Do not set this lower than 60 as it is just gonna write a bunch of data over and over and your storage device wont like you
autosaveInterval: 600

# The interval in which petal checks if users can be un-tempbanned.
unbanInterval: 600

# The motd system applies to AskPatch. The AskPatch system posts a message into a channel.
# AskPatch is a question of the day style system designed for discord.gg/patchgaming which is where this bot is used 99% of the time.
# Un-comment motdInterval if you want to use it
# motdInterval: 86400
motdChannel: '0'
motdModChannel: '0'

# Filesystem paths to the Minecraft PlayerDB and Whitelist files.
# DB is a meta-document with any information necessary to find out who a player is. This can go anywhere.
minecraftDB: '~/.minecraft/playerdb.json'
# WL is the actual Minecraft whitelist itself. Direct this at the whitelist file in the server directory, or at a file which is periodically copied onto the whitelist file.
minecraftWL: '~/.minecraft/whitelist.json'
# OP is the same as the whitelist file, but for the ops (moderators) list instead.
minecraftOP: '~/.minecraft/ops.json'
# WARNING: This MAY be dangerous the first time, if the people using the !WL* commands do not know what they are doing, because PlayerDB starts empty; It does NOT read from the Whitelist file, for security reasons[1]. Back up your Whitelist file before adding Petal for the first time. After PlayerDB is filled, it should be totally safe.
minecraftStrictWL: false
# This value is whether the whitelist can ONLY contain entries in the database;
# - If false, the only entries REMOVED FROM the whitelist will be in the database AND suspended.
# - If true, the only entries ALLOWED ON the whitelist will be unsuspended DB entries. All non-DB entries will be cleared.
minecraftCommandOpLevel: 3
# If a Discord ID does not have an entry in the PlayerDB with at least this rank of Operator status, that user is not permitted to use whitelist utilities. You should set this to 0 until you have added yourself to the DB.

# [1] If a griefer manages to get opped, this can prevent them from whitelisting additional griefers to come and help them.


# Prefix for petal to listen to
prefix: '>'

# Blacklist is for users that mess around too much. (This feature is dedicated to Khronos. Congrats buddy)
blacklist:
- '00'

# IF the bot is an anti-social butthead, you can make this false. Otherwise, leave it true.
# Reporting, voting, and support commands will not work if this is off
acceptPMs: true
supportChannel: '0'

# The edgy-teen notification system. My soul died trying to think of awful words to use
wordFilter:
- nigger
- faggot
- fag
- retard
- chink
- faggot
- dyke
- beaner


# Give user role after typing a phrase. Requires a dedicated channel and a regex
roleGrant:
  role: '00'
  chan: '000000000000000000'
  response: I love you too! Welcome to Patch
  regex: (I love you)

# ie:
# roleGrant:
#   role: <role ID or role name>
#   chan: <channel ID or name> (channel ID is better)
#   response: What petal responds on a successful message
#   regex: "[iI\s(agree|consent|do agree|)\sto\s?(obey|follow|uphold|)\sthe\s(rules)]"

# This role allows users to post to social media with the [update] command
socialMediaRole: social_media
mc_channel: '0000000000000'
#Message to PM users when they join the Server
#set to "null" to disable

welcomeMessage: 'null'

modChannel: '0'
mainServer: '0'
mainRole: Member

# Petal uses MongoDB to perform a lot of features, a setup guide can be found by searching mongodb setup on cuil.co- aww T_T
#dbconf:
#  remote_uri: mongodb://<username>:<password>@some-mongodb-shard.mongodb.net
#  port: 27017 # optional if remote_uri is being used
# name:  the name of the database petal will use. By default it is 'petal'


# logChannel must be defined in order to use administrative functions
# This is where all logged actions are dumped
logChannel: '0'

# trackChannel allows you to monitor users entering/leaving a voice chat. Petal sends a message to users when they join the channel.
# It then asks for a yes/no style response. If the user responds with: yes, a message is sent to a channel.
trackChannel: '0'
  messageToUser: Hey there, noticed you joined our support channel. Do you need help?
    (Type yes or no)

  monitoredChannel: '0'
  destinationChannel: '0'
  messageFormat: Hello, @here. {user.name} is in {channel.name} ({channel.server.name})
    and said they need help

  #you can format this with user {user.name/id/discriminator} and {channel.name/id}

# this will ignore join/leave/edit/delete/ban/kick messages in specific channels
# this is useful for keeping Moderator eyes off of Admin chat edits without sacrificing functionality of the bot in those servers/channels
ignoreServers:
- '0'

# Higher granularity of the above
ignoreChannels:
- '0'

# Channels where a custom command marked as NSFW can be used
nsfwChannels:
- '0'

# This is the helping-hands vote system. It is used for lvote, leave it disabled unless you understand what it does
# choppingBlock:
#  '00000000000':
#    votes:
#      '000000': 1
#    listener: false
#    timeout: 2017-10-20 19:06:52.142635


# you can ignore this line
# karaokeChannel: '0000000'

# X-Post support (This is for cross posting event announcements to other servers)
xPostRole: canPost
# This is a list of server ids that can be crossposted to
xPostList:
- '0'
- '0'
- '0'

# I would hope this is obvious
lastRun: 2018-01-14 00:00:00.000000

# Permission Levels
#       A big change from the old setup is permission Levels
#        Owner is considered level 0. All restricted commands can be run
#       Level 1 - L2 restrictions as well as the configure command
#       Level 2 - L3 restrictions as well as BotMute and Restart
#       Level 3 - L4 + Override Role-specific commands. (Kick, Ban, User Mute)
#       Level 4 - Custom Commands and ability to delete images from gallery

# Permissions are not necessary and roles are perfectly fine to use, levels just supercede roles in most cases.

level:
  l1:
  - 'make a list here'
  - 'also here'
  l2:
  - 'tadaa'
  - 'same'

  l3:
  - 'yup here too'

  l4:
  - 'and here'

# The freehug command allows users to request hugs from people in this list
# A randomly-selected (online, green-dot) user in the list will be PM'd with the name of the user
# who ran the command

anon:
  server: '123457890'
  help:
  - '00'


hugDonors:

  '00':
    donations: 9001
    name: Atticus


# Petal needs any API keys for certain extensions to work
# If you are interested in developing an addon for petal, use the grasslands.py module and make a pull-request
# or message me on discord isometricramen#0380

# ---API stuff---
#imgur: asdhaoifshas
#permitNSFW: false
#reddit:
#  clientID: asd
#  clientSecret: apsfihapsif-fapisfhaosf-000-
#  userAgent: petal/__init__.py DiscordBot
#  username: your_reddit_username
#  password: password
#  targetSR: the_donald

#twitter:
#  consumerKey:  nasfhaogihasoighasod
#  consumerSecret: agihasoidhaioshdoiashfa
#  accessToken: 300000-oahfohasofhaosifhasifhasifhashfoashfas
#  accessTokenSecret: 4019y408yfahsohdfaousgfaoshfathisisntbase64

#facebook:
#  graphAPIAccessToken: apgjaspihfoaishdoiashfiohasfasfaosfhaosihfas
#  version: '2.7'
#  pageID: '123456789'

#tumblr:
#  consumerKey: asifhaoishfoasfda
#  consumerSecret: aoishfoahsfasf
#  oauthToken: ooiqyweoqboa
#  oauthTokenSecret: apsighaoisghasihgaisohfoasihfasfas
#  targetBlog: patchgaming


# trello:
#  list_id: 125081230asdy081y28401
#  app_key: get_your_own
#  token: ogogogogogogogogogogog0ah0sasdasfaosifhaoshfoaisfhoiashfoiahfoiahsfoiashf
#  username: your_user_name

#twitter: 000
#tumblr: 000
#wolframAlpha: asoifahosf
#osu: asdfghjkl
#weather: asdhaoifhaisof1

#aliases allow you to change the names of commands.
#do not change this list unless you know what you are doing
stats:
  pingScore: 0
  pingCount: 0
  comCount: 0


aliases:
  sr: sub
  subreddit: sub
  imgur: sub
  hug: freehug


commands:
  test:
    com: test worked
    perm: '4'
  weed:
    perm: '0'
    com: ^_^
  poof:
    com: '{tag} poofed'
    perm: '0'
  fuzzy:
    perm: '0'
    com: o,.,o
  wood:
    perm: '0'
    com: tree
  test2:
    perm: '0'
    com: Chill
  bath:
    com: hey {tag}, dont take this the wrong way. But can I use your bath?
    perm: '0'

  yes:
    perm: '0'
    com: https://i.imgur.com/6wpUVIK.jpg
  no:
    perm: '0'
    com: "it's a no from me,  but just in case you're having a bad day: https://i.imgur.com/SMu3O65.gifv"

# Print the value in this map whenever someone says the key (case insensitive).
# This will be run through some substitutions, using Python str.format(), and
#     can do some basic attribute retrieval. See the example below (but you may
#     want to remove it, if your server does actually use Pokemon bots).
# {user} - The Discord user who said the thing
# {self} - The Discord user object of the BOT ITSELF
autoreplies:
  p!pokemon: "Hey there, {user.mention}!\nIt looks like you tried to use a Pokémon bot before reading our rules or even the server name...\nA couple things: Despite our server name starting with a `P` and Pokémon also starting with a `P`, we are not a pokemon go/tcg/switch group. This is a mental health gaming server.\n\nThat being said, we do have a #looking-to-play channel where you can meet other people to play PoGo with.\n\nPlease do not share friend codes or invite links in other channels besides that one. \n\nGo ahead and check the PM you got from my bot friend <@168518865477697539>. If you didn't get one, let someone in the #welcome channel (the only one you can talk in right now) know. \n\nThanks, {self.mention}"

calmGallery:
- author: isometricramen
  content: http://i.imgur.com/olVyCIh.gif

comfyGallery:
- author: isometricramen
  content: https://cdn.discordapp.com/attachments/131577709917765632/286262467015868416/034-VSSH0Uz.gif
